{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="undertext">
    <!-- text and styling for text above piano -->
    <p class="fun_fact_style underline">"Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you."</p>
</div>
<!-- main flex box for piano and text -->
<div class="piano_box"> 
    <!-- text for the piano -->
    <div class="piano_text">
        <p>The Great Old One</p>
    </div> 
    <div id="hover" class="piano">
        <!-- black keys for piano -->
        <div class="blackkey"></div>
        <div class="blackkey2"></div>
        <div class="blackkey3"></div>
        <div class="blackkey4"></div>
        <div class="blackkey5"></div>
        <div class="blackkey6"></div>
        <div class="blackkey7"></div>
        <!-- white keys for piano -->
        <div class="whitekey"></div>
        <div class="whitekey"></div>
        <div class="whitekey"></div>
        <div class="whitekey"></div>
        <div class="whitekey"></div>
        <div class="whitekey"></div>
        <div class="whitekey"></div>
        <div class="whitekey"></div>
        <div class="whitekey"></div>
        <div class="whitekey"></div>
    </div>
</div>
{% endblock %}